body {
    font-family: "Open Sans", sans-serif;
    background-color: #F9FBFD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

nav{
margin: 2rem 1rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    font-weight: 400;
    padding: 10px;
    text-transform: uppercase;
    box-shadow: .2rem .2rem .3rem rgba(0, 0, 0, 1);
    transition: all 0.2s linear;
}
nav ul li:hover {
    background-color: #2980b9;
}

nav ul li a {
    text-decoration: none;
    color: #555;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #2980b9;
    color: white;
}

main{
    padding: 2rem;
    align-items: center;
    min-height: 100vh;
}

input{
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
    transition: all 0.2s linear;
    color: #555;
}

.btn{
    border-radius: .2rem;
    font-size: 1rem;
    background-color: transparent;
}

.btn:hover{
    border: 2px solid #2980b9;
    background-color: #2980b9;
    box-shadow: .2rem .2rem .3rem rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: all 0.2s linear;
    color: #fff;
}

.product-name {
    font-size: 2.2rem;
    font-weight: 600;
}

.product-price, .product-rating {
    font-size: 1.1rem;
}

